.products-top-image {
    margin-bottom: 2em;
}

div.product-block-first {
    padding-bottom: 1em;
}

div.product-block-accented {
    padding-top: 1em;
    padding-bottom: 2em;
}

.code-block {
    background-color: #eeeeee;
    padding: 1em;
    font-size: 15px;
    word-wrap: break-word;
    margin-bottom: 1em;
}

.code-block p
{
    margin: 0.2em;
}

.product-paragraph {
    margin-top: -0.5em;
}

a.product-single-button {
    display: block;
}

a.product-double-button {
    display: inline-block;
}

.productButton
{
    margin-top: 1.5em;
    margin-bottom: 4em;
}

.productButtonLast
{
    margin-bottom: 2em;
}

.productButton a
{
    margin: 0;
    padding: 0.6em 1em;
    width: 35%
}

select
{
    width: 100%;
    font-family: inherit;
    font-size: inherit;
}

@media screen and (max-width: 755px) {

    .productButton a
    {
    	width: 70%;
    }
}