.products-top-image {
    margin-bottom: 2em;
}

div.product-block-first {
    padding-bottom: 1em;
}

div.product-block-accented {
    padding-top: 1em;
    padding-bottom: 2em;
}

.product-end-paragraph {
    margin-bottom: 2em;
}

div.product-single-button {
    width: 30%;
}

@media screen and (max-width: 600px) {
    div.product-single-button {
        width: 70%;
    }
}