.selection-pane {
  position: absolute;
  bottom: 0px;
  width: 300px;
  margin-left: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  max-height: 100%;
  z-index: 1300;
  background-color: #f6fbfe;
  min-height: 162px;
}

.selection-pane .MuiPaper-root
{
  background-color: #fff;
}

.selection-pane .MuiCardHeader-content
{
  width: 100%;
}

.selection-pane .MuiCardHeader-content button
{
  margin-left: 36px;
}

div.selection-pane-private {
  background-color: #eaeaea;
}

.selection-pane .card-content {
  overflow: auto;
  font-size: 15px;
  text-align: center;
}

div.selection-pane-card-actions {
  display: block;
}

div.specific-actions {
  margin-left: 0px;
}

button.selection-pane-button {
  color: #b3ce8c;
  width: 45%;
  margin-right: 2.5%;
  margin-bottom: 8px;
}

.selection-pane-card-actions div:last-child
{
  margin-right: 0px;
  margin-left: 2.5%;
}

.no-text-transform {
  text-transform: none;
}

.selection-pane .loading-spinner
{
  margin-top: 20px;
}

.selection-pane p
{
  margin: 0;
}

.selection-pane .score
{
  margin: auto;
  margin-top: 10px;
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.selection-pane .score span
{
  text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}

.score_0
{
  background-color: #e37458;
}

.score_1
{
  background-color: #e99261;
}

.score_2
{
  background-color: #fff14b;
}

.score_3
{
  background-color: #8dc27e;
}

.score_4
{
  background-color: #62b57e;
}