.data-pane {
  width: 25vw;
  padding: 0.7em;
  overflow-y: auto;
}

.data-pane-card {
  margin-top: 1em;
}

div.data-pane-card-content {
  position: relative;
  padding-top: 0px;
  min-height: 70px;
}

div.data-pane-title-card-subtitle {
  font-size: 14px;
}

div.data-pane-card-content .loading-spinner {
  top: 0px;
}

