.polygonCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  -webkit-text-stroke: 1px #00000080;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-rectangle
{
	background-image: url('/images/bug_report.png');
	background-image: -webkit-linear-gradient(transparent,transparent),url('/images/bug_report.svg');
	background-image: linear-gradient(transparent,transparent),url('/images/bug_report.svg');
	background-position: 0;
	background-size: contain;
}

.mapContainer
{
	height: 100%;
	width: 100%;
}

.leaflet-bottom
{
  z-index: 999;
}

.legend
{
  background: #ffffff;
  z-index: 800;
  max-height: 48px;
  max-width: 48px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 40px;
  overflow: hidden;

  -webkit-transition: max-width 0.5s, max-height 0.5s; /* Safari */
  transition: max-width 0.5s, max-height 0.5s ;
}

.legend:hover
{
  padding: 1em;
  max-height: 100vh;
  max-width: 100vw;
  min-height: 48px;
  min-width: 48px;
  height: auto;
  width: auto;
  background: #ffffffcc;
  background-image: none;
  opacity: 1;
}

.legend i
{
  height: 18px;
  width: 18px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 0.5em;
}

.legend h1
{
  font-size: 14pt;
  margin: 0;
}

.legend h2
{
  font-size: 12pt;
  margin: 0;
}

.legend p
{
  font-size: 12pt;
  margin: 0.2em ;
  display: block;
  line-height: 1.2;
}

.legend span.onScreenCount
{
  margin-left: calc(18px + 0.7em);
  margin-top: 0;
  margin-bottom: 0.5em;
  display: block;
}

p.maxPolygon
{
  margin-top: 0.5em;
  margin-bottom: 0;
}

.leaflet-control
{
  opacity: 0.5;
}

.leaflet-control-attribution, .leaflet-control:hover
{
  opacity: 1;
}