.polygonCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  -webkit-text-stroke: 1px #00000080;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-rectangle
{
	background-image: url('/images/bug_report.png');
	background-image: -webkit-linear-gradient(transparent,transparent),url('/images/bug_report.svg');
	background-image: linear-gradient(transparent,transparent),url('/images/bug_report.svg');
	background-position: 0;
	background-size: contain;
}

.mapContainer
{
	height: 100%;
	width: 100%;
}

.leaflet-bottom
{
  z-index: 1001;
}

.legend, .flyTo, .GeoMessageFeed
{
  background: #ffffff;
  z-index: 800;
  max-height: 48px;
  max-width: 48px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 40px;
  overflow: hidden;

  -webkit-transition: max-width 0.5s, max-height 0.5s; /* Safari */
  transition: max-width 0.5s, max-height 0.5s ;
}

.leaflet-control-layers-toggle
{
  background-size: 26px;
}

.leaflet-control-layers.leaflet-control a.leaflet-control-layers-toggle
{
  background-image: url('/images/ic_layers_black_48dp.png');
}

.leaflet-control-layers-toggle.GeoMessageFeed
{
  background-image: url('/images/ic_question_answer_black_48dp.png');
}

.leaflet-control-layers-toggle.flyTo
{
  background-image: url('/images/ic_flight_takeoff_black_48dp.png');
}

.leaflet-control-layers-toggle.legend
{
  background-image: url('/images/ic_info_black_48dp.png');
}

.leaflet-control-layers-toggle.legend.active, .leaflet-control-layers-toggle.flyTo.active, .leaflet-control-layers-toggle.GeoMessageFeed.active
{
  padding: 1em;
  padding-top: 0;
  max-height: 75vh;
  max-width: 100vw;
  min-height: 48px;
  min-width: 48px;
  height: auto;
  width: auto;
  background: none;
  background: #ffffffcc;
  opacity: 1;
  overflow: auto;
}

.legend i, .flyTo i, .GeoMessageFeed i
{
  height: 18px;
  width: 18px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 0.5em;
}

.legend h1, .flyTo h1, .GeoMessageFeed h1
{
  font-size: 14pt;
  margin: 0;
}

.legend h2, .flyTo h2, .GeoMessageFeed h2
{
  font-size: 12pt;
  margin: 0;
}

.legend p, .flyTo p, .GeoMessageFeed p
{
  font-size: 12pt;
  margin: 0.2em ;
  display: block;
  line-height: 1.2;
}

.legend span.count
{
  margin-left: calc(18px + 0.7em);
  margin-top: 0.1em;
  margin-bottom: 0.5em;
  display: block;
  font-size: 90%;
}

.legend .redCount
{
  color: red;
  font-weight: 600;
}

.legend p.legendMax
{
  font-size: 80%;
  text-align: center;
}

.legend p.maxPolygon
{
  margin-top: 0.5em;
  margin-bottom: 0;
}

.legend.active .closeButton, .flyTo.active .closeButton, .GeoMessageFeed.active .closeButton
{
  color: #00a3a3;
  border: none;
  text-decoration: none;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #00a3a3;
  -webkit-transition: background-color 0.25s; /* Safari */
  transition: background-color 0.25s;
  position: relative;
  margin-right: 0;
  margin-left: auto;
  top: 25px;
}

.legend .closeButton:hover, .flyTo .closeButton:hover, .GeoMessageFeed .closeButton:hover
{
  background-color: #00a3a340;
}

.flyTo select, .flyTo input
{
  margin-top: 0.5em;
}

.flyTo input[type='submit']
{
  margin-top: 1.5em;
  width: 100%;
}

.flyTo div
{
  height: auto;
  overflow: hidden;
}

.flyTo .hidden
{
  height: 0;
}

.leaflet-control
{
  opacity: 0.75;
}

.leaflet-control-attribution, .leaflet-control:hover
{
  opacity: 1;
}

.leaflet-popup-content p
{
  margin: 0;
}

.leaflet-popup-content span
{
  font-weight: 800;
}

.leaflet-popup-content div
{
  margin-bottom: 1em;
  max-height: 15vh;
  overflow: auto;
}

.leaflet-popup-content div::-webkit-scrollbar {
  height: auto;
  width: 4px;
}
 
.leaflet-popup-content div::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #8c8c8c; 
}

.leaflet-popup-content div::-webkit-scrollbar-thumb:hover {
  background: #999999; 
}

.leaflet-popup-content a
{
  color: #00a3a3;
  margin-bottom: 0.25em;
  display: block;
}

.leaflet-popup-content a:hover
{
  cursor: pointer;
  color: #026464;
  text-decoration: underline;
}

.leaflet-control-attribution {
  max-width: 80vw;
}

@media only screen and (max-device-width : 860px)
{
  .leaflet-control-attribution {
    font-size: 8px
  }  
}