.polygonCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  -webkit-text-stroke: 1px #00000080;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-rectangle
{
	background-image: url('/images/bug_report.png');
	background-image: -webkit-linear-gradient(transparent,transparent),url('/images/bug_report.svg');
	background-image: linear-gradient(transparent,transparent),url('/images/bug_report.svg');
	background-position: 0;
	background-size: contain;
}

.mapContainer
{
	height: 100%;
	width: 100%;
}

.leaflet-bottom
{
  z-index: 999;
}

.legend
{
  padding: 1em;
  background: #ffffffbf;
  z-index: 800;
}

.legend i
{
  height: 18px;
  width: 18px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 0.5em;
}

.legend h1
{
  font-size: 14pt;
  margin: 0;
}

.legend h2
{
  font-size: 12pt;
  margin: 0;
}

.legend p
{
  font-size: 12pt;
  margin: 0.2em ;
  height: 18px;
  display: block;
}