.map-selector
{
	font-size: 0.8em;
	height:2.5em;
	width: 30vw;
	opacity: 1;
  	-webkit-transition: opacity 0.25s; /* Safari */
  	transition: opacity 0.25s;
}

.map-selector:hover, .map-selector:active, .map-selector:focus
{
	opacity: 1;
}