div.class-selector {
  width: 100%;
  margin-bottom: 16px;
}

.geomessage-control {
  height: calc(100% - 85px);
}

div.card-form-control {
  width: 100%;
}

div.groups-filter-card {
  height: 74px;
}

div.geomessage-messages-card {
  height: calc(100% - 60px);
  overflow-y: auto;
}

div.geomessage-messages-card-feed {
  height: calc(100% - 80px);
}