#banner {
    height: 94vh;
    background-color: #adbccc;
}

#banner-logo {
    position: relative;
    top: 140px;
    font-size: 14pt;
    width: 40em;
}

.home-main-block-content-table {
    width: 100%;
    margin-bottom: 1em;

    border-spacing: 4em 0em
}

.home-main-block-content-table-two-rows {
    width: 50%;
    /* background-color: #adbccc; */
}