div.slide-pane__content div.messageContainer
{
  background-color: grey;
  border-radius: 5px;
  padding: 0.5em 1em;
  width: 75%;
  color: #e6e6e6;
  font-weight: 400;
  margin-top: 0.5em;
  margin-right: 0;
  margin-left: auto;
}

div.slide-pane__content div.messageContainer.own
{
  background-color: #00a3a3;
  margin-left: 0;
}

div.slide-pane__content div.messageContainer.other button
{
  background-color: #737373;
  border: 3px solid #808080;
  color: #cccccc;
}

div.slide-pane__content div.messageContainer.other button:hover
{
  background-color: #4d4d4d;
}

div.slide-pane__content div.messageContainer ul
{
  margin: 0;
  padding: 0;
  list-style: none;
}

div.slide-pane__content div.messageContainer ul li
{
  display: inline-block;
  font-size: 90%;
  width: 50%;
}

div.slide-pane__content div.messageContainer ul li.GeoMessage
{
  width: 100%;
  font-size: 100%;
  padding-top: 0.25em;
  color: white;
  font-weight: 200;  
}

div.slide-pane__content div.messageContainer ul li.GeoUserGroup
{
  text-align: right;
}

div.slide-pane__content div.messageContainer ul li.GeoDate
{
  text-align: right;
  font-size: 75%;
  width: 100%;
  font-weight: 200;
}

div.slide-pane__content div.messageContainer .GeoPropsList li
{
  width: auto;
  margin-right: 0.5em;
  font-size: 75%;
  font-weight: 600;
}

div.slide-pane__content div.messageContainer button
{
  margin: 0;
  margin-right: auto;
}

div.slide-pane__content
{
  padding: 0;
}

div.slide-pane__content .GeoMessageContainer
{
  max-height: calc(50vh - 2.25em - 32px);
  overflow: auto;
  padding: 1em;
}

div.slide-pane__content .GeoMessageContainer.feed
{
  max-height: initial;
}

div.slide-pane__content .GeoMessageContainer.feed>button
{
  margin-top: 2em;
}

div.slide-pane__content #formDiv
{
  max-height: calc(50vh - 2.25em - 32px);
  padding: 1em;
}

div.slide-pane__content .GeoMessageContainer::-webkit-scrollbar 
{
  height: 5px;
  width: 5px;
}
 
div.slide-pane__content .GeoMessageContainer::-webkit-scrollbar-thumb 
{
  border-radius: 3px;
  background: #8c8c8c;
}

div.slide-pane__content .GeoMessageContainer::-webkit-scrollbar-thumb:hover 
{
  background: #999999;
}
