div.slide-pane__content div.messageContainer
{
  background-color: #b3b3b3;
  border-radius: 5px 5px 0 5px;
  width: 75%;
  color: #e6e6e6;
  font-weight: 400;
  margin-top: 0.5em;
  margin-right: 0;
  margin-left: auto;
}

div.slide-pane__content div.messageContainer.own
{
  background-color: #00a3a3;
  margin-left: 0;
  border-radius: 5px 5px 5px 0;
}

div.slide-pane__content div.messageContainer.other
{
  color: #fafafa;
}

div.slide-pane__content div.messageContainer .GeoDelete
{
  display: block;
}

div.slide-pane__content div.messageContainer .GeoGetImage
{
  display: block;
  margin-top: 1em;
}

div.slide-pane__content div.messageContainer .GeoImage
{
  display: block;
  width: 100%;
}


div.slide-pane__content div.messageContainer .GeoDelete button
{
  margin-top: 1em;
}

div.slide-pane__content div.messageContainer.other .GeoDelete button
{
  background-color: #737373;
  border: 3px solid #737373;
  color: #f5f5f5;
}

div.slide-pane__content div.messageContainer.other .GeoDelete button:hover
{
  border-color: #4d4d4d;
}

div.slide-pane__content div.messageContainer.other ul li.GeoDelete
{
  text-align: right;
  width: 100%;
}

div.slide-pane__content div.messageContainer.other button:hover
{
  background-color: #4d4d4d;
}

div.slide-pane__content div.messageContainer ul
{
  margin: 0;
  list-style: none;
  padding: 0.5em 1em;
}

div.slide-pane__content div.messageContainer ul li
{
  display: inline-block;
  font-size: 90%;
  width: 50%;
}

div.slide-pane__content div.messageContainer ul li.GeoMessage
{
  width: 100%;
  font-size: 100%;
  padding-top: 0.25em;
  color: white;
  font-weight: 200;  
}

div.slide-pane__content div.messageContainer ul li.GeoUserGroup
{
  text-align: right;
}

div.slide-pane__content div.messageContainer ul li.GeoLayer, div.slide-pane__content div.messageContainer ul li.GeoDate
{
  text-align: right;
  font-size: 75%;
  width: 100%;
  font-weight: 200;
}

div.slide-pane__content div.messageContainer ul li.GeoLayer
{
  text-align: left;
}

div.slide-pane__content div.messageContainer div.GeoType
{
  width: 100%;
  text-align: center;
  font-weight: 600;
  background: #038787;
  border-radius: 5px 5px 0 0;
}

div.slide-pane__content div.messageContainer div.GeoType:hover
{
  background: #026464
}

div.slide-pane__content div.messageContainer ul.GeoPropsList
{
  margin: 0;
  padding: 0;
}

div.slide-pane__content div.messageContainer .GeoPropsList li
{
  width: auto;
  margin-right: 0.5em;
  font-size: 75%;
  font-weight: 600;
}

div.slide-pane__content div.messageContainer button
{
  margin: 0;
  margin-right: auto;
}

div.slide-pane__content div.messageContainer button.linkButton
{
  border: none;
  color: white;
  background: none;
  width: 100%;
}

div.slide-pane__content div.messageContainer button.linkButton h1, div.slide-pane__content div.messageContainer button.linkButton span
{
  color: white;
  margin: 0;
}

div.slide-pane__content div.messageContainer button.linkButton h1
{
  font-size: 150%;
}

div.slide-pane__content div.messageContainer button.linkButton:hover
{
  color: #026464;
  text-decoration: underline;
  color: white;
  border-radius: 5px 5px 0 0;
}

div.slide-pane__content
{
  padding: 0;
}

div.slide-pane__content .GeoMessageContainer
{
  /* max-height: calc(50vh - 2.25em - 32px); */
  overflow: auto;
  padding: 1em;
  padding-top: 3em;
}

div.slide-pane__content .GeoMessageContainer.feed
{
  max-height: initial;  
}

div.slide-pane__content .GeoMessageContainer.feed>button
{
  margin-top: 2em;
}

div.slide-pane__content #formDiv
{
  max-height: calc(50vh - 2.25em - 32px);
  padding: 1em;
}

div.slide-pane__content .GeoMessageContainer::-webkit-scrollbar 
{
  height: 5px;
  width: 5px;
}
 
div.slide-pane__content .GeoMessageContainer::-webkit-scrollbar-thumb 
{
  border-radius: 3px;
  background: #8c8c8c;
}

div.slide-pane__content .GeoMessageContainer::-webkit-scrollbar-thumb:hover 
{
  background: #999999;
}

li#lightbox {
	width: 100vw;
	height: 100%;
	top: 0;
	left: -50vw;
	position: fixed;
	background: rgba(0, 0, 0, 0.75);
}

li#lightbox img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 95%;
  max-height: 95%;
  width: auto;
  margin: auto;
  overflow: auto;
}

div.select-groups {
  position: fixed;
	width: 100%;
	padding: 0.5em 1em;
}

@media only screen and (max-device-width : 860px)
{
  li#lightbox {
    left: -10vw;
  }
}