div.slide-pane__header
{
	background-color: #026464;
}

div.slide-pane__header h2, div.slide-pane__header .slide-pane__close
{
	color: white;
}

div.slide-pane__content
{
	background-color: #e6e6e6;
}

.LineChart
{
	min-height: 350px;
}

div.slide-pane__content h1, div.slide-pane__content h2
{
	margin: 0;
}

div.slide-pane__content h2
{
	font-size: 1em;
}

div.slide-pane__content p
{
	margin: 0;
	padding-top: 1em;
}

div.slide-pane__content .rc-slider
{
	margin: 0.5em;
  margin-bottom: 2em;
	width: calc(100% - 1em);
}

div.slide-pane__content table
{
	max-height: 400px;
	background: none;
}

div.slide-pane__content button
{
  margin-top: 7em;
}

div.slide-pane__content .tableContainer
{
  margin-top: 1em;
  max-height: 100vh;
  overflow: hidden;
  -webkit-transition: max-height 0.5s; /* Safari */
  transition: max-height 0.5s ;
}

div.slide-pane__content .tableContainer.hidden
{
  height: 0;
  max-height: 0;
  overflow: hidden;
}


div.slide-pane__content table::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: none;
}
 
div.slide-pane__content table::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #8c8c8c; 
}

div.slide-pane__content table::-webkit-scrollbar-thumb:hover {
  background: #999999; 
}

img.loading-spinner
{
  height: 24px;
  width: 24px;

    -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    opacity: 0.75;
}

div.rv-crosshair {
  transform: translate(10px);
}

div.query-pane
{
  width: 50% !important;
}

div.graphContainer
{
  padding: 1em;
}

.saveFormContainer
{
  padding: 1em;
}

.saveFormContainer .hidden
{
  display: none;
}

.saveFormContainer input[type='submit']
{
  margin-top: 1em;
}

.slide-pane__close svg
{
  transform: rotate(180deg);
}

@media only screen and (max-device-width : 860px)
{
  div.query-pane
  {
    width: 90% !important;
  }
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0deg); }
}
@keyframes spin {
  from {
      transform:rotate(360deg);
  }
  to {
      transform:rotate(0deg);
  }
}