.galleryItem {
	margin-bottom: 1em;
}

.galleryItem .button {
	display: inline-block;
	width: inherit;
	margin: 0 auto;
}

.buttonContainer {
	display: inline-flex;
	width: 100%;
}

.buttonContainer a {
	width: 90%;
	text-align: center;
}