p
{
	font-size: 14px;
}
h2
{
	margin-top: 2em;
}

h4
{
	font-size: 16px;
	margin: 0;
}

h4+p
{
	margin-top: 0;
}

.code-documentation-block > h5 {
    margin-bottom: 0em;
}

.code-documentation-block > p {
    margin-top: 0em;
}