.login-input-label-div {
  width: 25em;
  margin: 0 auto;

  margin-bottom: 1em;
}

.login-input-label {
  text-align: left;
}

.login-input {
  width: 25em;
  height: 2.4em;

  padding: 0em 0.5em;

  text-align: center;
  font-size: 15px;
}