*, *:before, *:after {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content {
  position: absolute;
  bottom: 0;
  height: calc(100% - 3.5em);
  width: 100%;
}

.main-content {
    min-height: 78.1vh;
}

.main-block {
    padding-bottom: 3em;
}

.main-block-first {
    padding-top: 3em;
}

.main-block-accented {
    background-color: #00a3a3;
    color: #ffffff;
}

.main-block-accented h1, .main-block-accented h2, .main-block-accented h3, 
.main-block-accented h4 {
    color: #ffffff;
}

.main-block-content {
    width: 40em;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.main-block-content-left {
    text-align: left;
}

.main-block-header {
    background-color: #026464;
    padding: 0.3em 0em;
    margin-bottom: 2em;

    font-size: 26pt;
    font-weight: bold;
    color: #ffffff;
}

.main-block-header h1
{
  color: white;
  margin: 0;
  font-size: inherit;
}

.main-center-paragraph {
    margin-bottom: 2em;
}

.main-center-paragraph-first {
    margin-top: 2em;
}

.main-block > p.main-center-paragraph:last-of-type {
    margin-bottom: 1em;
}

.main-block-content-list {
    text-align: left
}

.main-block-content-list-item {
    margin-bottom: 0.7em;
}

.main-block-single-button {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.main-block-double-button
{
    width: 35%;
    margin: 0 1em;
}

.main-block-triple-button
{
    width: 20%;
    margin: 0 0.5em;
}

.key-words {
    color: #026464;
    font-style: italic;
    font-weight: bold;
}

.button {
  padding: 0.5em 1em;
  text-align: center;
  background-color: #ffffff;
  border: 3px solid #026464;
  text-decoration: none;
  font-weight: bold;

  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  cursor: pointer;
}

.button:hover:enabled {
    background-color: #00a3a3;
    color: #ffffff;
}

.button:disabled {
  background-color: #aaaaaa;
}

.button-accented {
    border: 3px solid #026464;
    background-color: #ffffff;
    color: #00a3a3
}

.button-accented:hover:enabled {
    background-color: #00a3a3;
    color: #ffffff
}

.button-a {
    color: inherit;
    text-decoration: none;
}

.modal-overlay {
  top: 3.5em;
  z-index: 10000000;
}

.noselect
{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-device-width : 640px) {
    .main-block-header {    
        font-size: 22pt;
    }
}
