.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content {
    margin-bottom: 5em;
}

.main-block {
    /* padding-top: 3em; */
    padding-bottom: 3em;

    font-size: 14pt;
    line-height: 1.6; 
}

.main-block-accented {
    background-color: #00a3a3;
    color: #ffffff;
}

.main-block-content {
    width: 40em;
    margin-left: auto;
    margin-right: auto;
}

.main-block-header {
    background-color: #026464;
    padding: 0.3em 0em;
    margin-bottom: 2em;

    font-size: 26pt;
    font-weight: bold;
    color: #ffffff;
}

.main-center-paragraph {
    margin-bottom: 2em;
}

.main-block > p.main-center-paragraph:last-of-type {
    margin-bottom: 1em;
}

.main-block-content-list {
    text-align: left
}

.main-block-content-list-item {
    margin-bottom: 0.7em;
}

.main-block-single-button {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.button {
    padding: 0.6em 1.5em;
    text-align: center;
    background-color: #ffffff;
    border: 3px solid #026464;
    text-decoration: none;

    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.button:hover {
    background-color: #00a3a3;
    color: #ffffff;
}

.button-a {
    color: inherit;
    text-decoration: none;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
