.legend-content {
  text-align: left;
  font-size: 14px;
}

.legend-line {
  margin-top: 2px;
  margin-bottom: 2px;
}

.legend-line-header {
  font-weight: bold;
  margin-top: 12px;
}

.legend-line-header:first-child {
  font-weight: bold;
  margin-top: 0px;
}

.legend-label {
  float: right;
  height: 10px;
  width: 30px;
  margin-top: 7px;
  border: 1px solid black;
}